* {
  font-family: arial, sans-serif;
  margin: 0;
}

body,
body > div {
  height: 100vh;
  width: 100vw;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#container > div {
  display: flex;
}

#navbar {
  padding: 2em;
  justify-content: space-evenly;
}

#main-section {
  flex-grow: 1;
}

#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  background-color: #b05f6d;
  color: white;
}

.blue {
  background-color: #275db3;
  color: white;
}

.home {
  background-color: aquamarine;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
  
}

 
  .footer-section {
    display: flex;
    align-items: center; 
     justify-content:flex-start; 
     justify-content: space-evenly; 
  } 

.footer {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  margin-top: 30px;
  align-items: center;
 }

#home-navbar {
 align-items: center;
 margin-right: 20px;
} 

#blue-navbar {
  margin-right: 20px;
}

#red-navbar {
  margin-right: 20px;
}

#yellow-navbar {
  margin-right: 20px;
}
